#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #1f2b3d;
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  z-index: 999;
  transition: all 200ms ease-in-out;
}

#header.expand {
  height: 185px;
  align-items: flex-start;
}

#header.expand svg#logo {
  width: 160px;
  height: 160px;
}

#header .expand-button {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms ease-in-out;
}



a:hover {
  cursor: pointer;
}

#header .bottom-border {
  background-color: #FEB95F;
  width: 0;
  height: 3px;
  border-radius: 1px;
  transition: all 200ms ease-in-out;
}

#header .bottom-border.hover {
  width: 100%;
}

#header .header-link {
  display: flex;
  flex-direction: column;
}

#header .header-links-big {
  align-self: center;
  display: flex;
  gap: 20px;
}

#header .header-links-small {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header-links-small .links-container {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 55px;
  right: -10rem;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
  transition: all 200ms ease-in-out;
}

#header .header-links-small.show .links-container {
  opacity: 1;
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

#sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:nth-child(even) {
  color: black;
  background-color: rgb(246, 246, 246);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 140px;
}


#skills {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.skills-tiles {
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 5px;
}

.tile {
  font-size: 16px;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.tile:hover {
  transform: scale(1.25);
}

.tile .icon svg {
  width: 60px;
  height: 60px;
}

.tile.hover {
  transform: scale(1.25);
}

#contact {

  display: flex;
  margin: 0 150px;
  width: 100%;
  max-width: 800px;
  flex: 1;
  gap: 50px;
}

#contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#contact .right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1.5;
}

#contact textarea {
  resize: both;
}


#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-tiles {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex: 1;
}

.project {
  width: calc(50% - 30px);
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  overflow: hidden;
}

.project-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.project-bottom .project-header {
  display: flex;
  align-items: center;
}

.project .project-title {
  font-family: 'Nunito', sans-serif;
  padding: 5px;
}

.project .project-bottom .project-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-blue,
.btn-red-outline {
  width: 70px;
  height: 35px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.btn-blue a {
  color: white
}

.btn-blue {
  background-color: #5fa8d3;
  color: white;
  transition: all 200ms ease-in-out;
}

.btn-blue:hover {
  background-color: #4d90b7;
}

.btn-red-outline a {
  color: #DB504A
}

.btn-red-outline {
  color: #DB504A;
  border: 2px solid #DB504A;
  transition: all 200ms ease-in-out;
}

.btn-red-outline:hover {
  background-color: #DB504A;
  color: white;
}

.project-bottom .project-description {
  font-size: 14px;
}

.project .tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project .single-tech {
  background-color: #35445b;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  border-radius: 3px;
  padding: 2px 5px;
}

.project img {
  width: 100%;
  object-fit: contain;
  object-position: top;
}

#home {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

#home .intro>* {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  transition: font-size 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

#home .intro .lg {
  color: white;
  font-size: 4rem;
}

#home .intro .med.bottom {
  color: #FEB95F;
  font-size: 2rem;
}

#home .intro .bottom {
  align-self: flex-end;
}

.status-indicator {
  display: flex;
  position: absolute;
  bottom: -35px;
  right: -125px;
  transition: all 200ms ease-in-out;
}

.status-indicator .light.green {
  background-color: greenyellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@keyframes blinkGreen {
  from {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
  }

  50% {
    background-color: #ABFF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #134415 0 -1px 9px, rgba(0, 255, 34, 0.5) 0 -1px 0;
  }

  to {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
  }
}

.led {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 3px black;
  margin: 5px;
  zoom: 1.25;
}

.led.green {
  background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
  box-shadow: #89FF00 0 0px 6px;
  -webkit-animation: blinkGreen 1s infinite;
  -moz-animation: blinkGreen 1s infinite;
  -ms-animation: blinkGreen 1s infinite;
  -o-animation: blinkGreen 1s infinite;
  animation: blinkGreen 1s infinite;
}

.led:after {
  display: block;
  content: '';
  margin-left: 1px;
  margin-right: 1px;
  width: 8px;
  height: 6px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
}

#socials-sidebar {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  right: calc(100% - 40px);
  bottom: 10px;
  mix-blend-mode: difference;
}


#socials-sidebar .social-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.socials-spacer {
  margin-right: 19px;
  background-color: white;
  height: 125px;
  width: 2px;
}

.social-sliders {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.single-social {
  display: flex;
  padding: 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.single-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header svg#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  transition: all 200ms ease-in-out;
  z-index: 998;
}

#logo:hover {
  transform: scale(1.25);
  cursor: pointer;
}

#expand-button {
  transform: scale(0.75);
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#expand-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .2s ease-in-out;
}

#header #expand-button:hover span {
  background: #FEB95F;
}

#expand-button span:nth-child(1) {
  top: 0px;
}

#expand-button span:nth-child(2),
#expand-button span:nth-child(3) {
  top: 12px;
}

#expand-button span:nth-child(4) {
  top: 24px;
}

#expand-button.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#expand-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#expand-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#expand-button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}


@media (max-width: 840px) {
  .project-tiles {
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .section {
    padding: 50px 70px;

  }

  .status-indicator {
    right: -55px;
    font-family: 'Nunito', sans-serif;
  }

  .status-indicator p {}


  #home .left {
    align-items: center;
  }

  #socials-sidebar .single-social:hover {
    transform: translateX(-10px) scale(1.25)
  }

}

@media (max-width: 600px) {
  #header .header-links-big {
    display: none;
  }

  #home .intro .lg {
    font-size: 3rem;
  }

  #home .intro .med,
  #home .intro .med.bottom {
    font-size: 1.75rem;
  }
}

@media (min-width: 560px) {
  #header .header-links-small {
    display: none;
  }
}

@media (max-width: 900px) {
  .tile {
    width: 120px;
    height: 120px;
  }

  .tile .icon svg {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 490px) {
  .tile {
    width: 90px;
    height: 90px;
  }

  .tile .icon svg {
    width: 50px;
    height: 50px;
  }

  .skills-tiles {
    gap: 0;
  }
}

@media (max-width: 650px) {
  #contact {
    flex-direction: column;
  }
}

@media (max-width: 400px) {

  #home .intro .med,
  #home .intro .med.bottom {
    font-size: 1.3rem;
  }

  #home .intro .lg {
    font-size: 2.2rem;
  }

  .tile {
    width: 120px;
    height: 120px;
  }

  .tile .icon svg {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1000px) {
  #home .intro .lg {
    font-size: 5.6rem;
  }

  #home .intro .med,
  #home .intro .med.bottom {
    font-size: 3rem;
  }
}