#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #233146;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px;
  z-index: 999;
  gap: 20px;
}

#header div:first-child {
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

#header .bottom-border {
  background-color: #FEB95F;
  width: 0;
  height: 3px;
  border-radius: 1px;
  transition: all 200ms ease-in-out;
}

#header .bottom-border.hover {
  width: 100%;
}

#header .header-link {
  display: flex;
  flex-direction: column;
}

#sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section:nth-child(even) {
  color: black;
  background-color: white;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}


#skills {
  position: relative;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.skills-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 5px;
}

.tile {
  font-size: 16px;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.tile:hover {
  transform: scale(1.25);
}

.tile .icon svg {
  width: 60px;
  height: 60px;
}

.tile.hover {
  transform: scale(1.25);
}

#contact {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
  max-width: 600px;
  flex: 1;
}

#contact form {
  display: flex;
  flex-direction: column;

}

#projects {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.project {
  max-width: 60vw;
  padding: 0 50px;
  display: flex;
  gap: 30px;
}

.project img {
  width: 100%;
  object-fit: contain;
}

.project .left img {
  width: 450px;
}

#home {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
  gap: 20px;
}

#home h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  margin: -20px 0;
}

#home .about h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

#home .job-title {
  width: 100%;
  display: inline;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}

#home .job-title:hover {
  opacity: 1;
  cursor: pointer;
}

#home button {
  background-color: #8ecae6;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

#socials-sidebar {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 8px;
  bottom: 10px;
  mix-blend-mode: difference;
}

#socials-sidebar .social-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.socials-spacer {
  margin-left: 10px;
  background-color: white;
  height: 10vh;
  width: 2px;
}

.social-sliders {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.single-social {
  display: flex;
  padding: 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.single-social {
  width: 100%;
  display: flex;
  align-items: center;
}

.single-social.github {
  transform: translateX(-85px)
}

.single-social.linkedin {
  transform: translateX(-100px)
}

.single-social:hover {
  justify-content: flex-start;
  align-self: flex-start;
  transform: translateX(0)
}

#logo {
  fill: #feb95f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  transition: all 200ms ease-in-out;
}

#logo:hover {
  transform: scale(1.25);
  cursor: pointer;
}